html {
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color:#F7F7F7; 
    max-width: 900px;
    display: grid;
    grid-template-areas: "destaque propaganda"
                         "destaque sugeridos";
    grid-template-columns: 1fr 270px;
    grid-template-rows: 56px 1fr;
    gap: 20px;
    padding: 35px;
}

.destaque {
    grid-area: destaque;
}

.info-destaque .titulo {
    margin: 10px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.09px;
}

.info-destaque .visualizacoes {
    margin: 10px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 16.41px;
}

.info-destaque p {
    margin: 10px 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 18.75px;
}

.propaganda {
    grid-area: propaganda;
}

.sugeridos {
    grid-area: sugeridos;
}

.sugeridos .video {
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}

.sugeridos .video .info h2 {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 5px;
}

.sugeridos .video .info p {
    font-weight: 300;
    font-size: 11px;
    margin-bottom: 5px;
}